PORT=5000
MONGODB_URI=mongodb://sripavishsubbannan_db_user:SriPavishs15@ac-ryd7wky-shard-00-00.322kjdi.mongodb.net:27017,ac-ryd7wky-shard-00-01.322kjdi.mongodb.net:27017,ac-ryd7wky-shard-00-02.322kjdi.mongodb.net:27017/?ssl=true&replicaSet=atlas-mk4ww6-shard-0&authSource=admin&appName=StudySync
JWT_SECRET=your_jwt_secret_key_here
CLIENT_URL=http://localhost:3001
SERVER_URL=http://localhost:5000

# AWS S3 Configuration
AWS_REGION=us-east-1
AWS_S3_BUCKET=studysync-resources
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key

# Razorpay Payment Gateway Configuration
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
